<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>TOP SECRET WEBSITE</title>
    <link rel="icon" href="./favicon.ico" type="image/x-icon" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script
      src="https://unpkg.com/htmx.org@1.9.8"
      integrity="sha384-rgjA7mptc2ETQqXoYC3/zJvkU7K/aP44Y+z7xQuJiVnB/422P/Ak+F/AqFR7E4Wr"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div class="flex">
      <div>
        <form hx-post="/add-contact/" hx-target="#contact-list" hx-swap="beforeend">
          <label for="contact-name">Name:</label>
          <input type="text" name="name" id="contact-name" class="border border-black"/>
          <label for="contact-email">Email:</label>
          <input type="text" name="email" id="contact-email" class="border border-black" />
          <label for="contact-phone">Phone:</label>
          <input type="text" name="phone" id="contact-phone" class="border border-black" />
          <button type="submit">Add contact</button>
        </form>
      </div>
      <div>
        <h1 class="text-5xl">Contacts</h1>
        <ul id="contact-list">
          {{ range .Contacts }}
          {{ block "contact-list-element" . }}
          <li class="text-2xl">{{ .Name }}, {{ .Email }}, {{ .Phone }}</li>
          {{ end }}
          {{ end }}
        </ul>
      </div>
    </div>
  </body>
</html>
